<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <img src="assets/images/logo.png" alt="Logo" class="logo-image" />
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>Please login to continue</p>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="User/Email" formControlName="userName" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please enter your user name/Email
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error *ngIf="isFieldInvalid('userName')">
              Please enter your password
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="primary">Login</button>
          <button mat-raised-button routerLink="../registration">Register</button>
        </form>
        <a mat-button routerLink="../forgot-password">Forgot Password?</a>
      </mat-card-content>
      <div class="card-header">
        {{loginMessage}}
      </div>
    </mat-card>
  </div>
  